<a href="https://colab.research.google.com/github/weigangq/CSB-BIOL425/blob/master/BIOL425_python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 3. Basic Python Programming

This a review of Python based on the textbook (CSB) Chapter 3)

Save a copy in your own Google account using the menu: File -> "Save a copy in Drive"

## 3.3 Data types

### Strings and numbers

In [ ]:
x = 5 # assign value 5 to variable
x # show value
type(x) # show variable type

int

In [ ]:
y = "the cell grew" # create a string variable
type(y)

str

In [ ]:
 x + 3 # addition

8

In [ ]:
y + " and is now larger" # string concatenation

'the cell grew and is now larger'

In [ ]:
# x + y # throw error: can't concatenate two data types

In [ ]:
y + " " + str(x) + "mn" # type casting: a number into a string

'the cell grew 5mn'

### Built-in functions
Usage: function_name(arguments)

In [ ]:
len(y) # string length

13

In [ ]:
abs(-3.14) # absolute value

3.14

In [ ]:
pow(3,6) # power

729

In [ ]:
round(3.1415926, 3) # round to 3 decimal points

3.142

### Strings & object-specific methods
Usage: string_variable.method_name(arguments)

In [ ]:
astring = "AATGCATG"

In [ ]:
# press Tab after dot to list object methods
astring.

In [ ]:
help(astring.find) # get help

Help on built-in function find:

find(...) method of builtins.str instance
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [ ]:
astring.find("C")

4

In [ ]:
astring.count("G")

2

In [ ]:
astring.replace("T", "U")

'AAUGCAUG'

In [ ]:
species_string = " Mus musculus "
species_string.split() # split on spaces

['Mus', 'musculus']

In [ ]:
species_string.split("u") # split on a delimiter

[' M', 's m', 'sc', 'l', 's ']

In [ ]:
species_string.strip() # remove leading and trailing white spaces

'Mus musculus'

In [ ]:
"atgc".upper() # no variable assignment

'ATGC'

In [ ]:
"TGCA".lower()

'tgca'

In [ ]:
genus = "Rattus"
species = "norvegicus"
genus + " " + species # string concatenation

'Rattus norvegicus'

In [ ]:
(genus + " ") * 3 # repeat a string

'Rattus Rattus Rattus '

In [ ]:
human = ['Homo', 'sapiens']
" ".join(human) # fast string concatenation from a list

'Homo sapiens'

### <font color='green'>**Exercise: Intermezzo 3.1** </font>

1.   Initialize the string s = "WHEN on board H.M.S. Beagle, as naturalist".
2.   Apply a string method to count the number of occurrences of the
character b.
1.   Modify the command such that it counts both lowercase and uppercase bâ€™s.
2.   Replace WHEN with When.

In [ ]:
s = "WHEN on board H.M.S. Beagle, as naturalist"
s

'WHEN on board H.M.S. Beagle, as naturalist'

In [ ]:
s.count("b")

1

In [ ]:
s.count("B")

1

In [ ]:
s.upper().count("B")

2

In [ ]:
s.replace("WHEN", "When")

'When on board H.M.S. Beagle, as naturalist'

### <font color='green'>***Exercise: Calculate GC content of a genome*** </font>
- Genome: all DNA in a cell
- Genome sizes/length (in the number of base pairs)
    * virus (haploid): ~ thousands (e.g., SARS-CoV-2, 39K base pairs)
    * bacteria (haploid): ~ millions (e.g., Lyme pathogen, 1.8 mb)
    * eukaryotes (somatic cells are diploid; gametes/germ cells are haploids): ~ billions (e.g., human, ~3 billions bp; diploid genome: double the size)
    * Haploids in a diploid genome: Y-chromosome; mitochondrial DNA (bacterial symbiant); chloroplast DNA (cyanobacteria by origin)
- Calculate the GC% of SARS-CoV-2 based on the following gene sequence "lecture-materials/sars-spike-gene.fas"
    * GC% is a species-specific genome characteristic
    * Presence of abnormal GC% suggest **horizontal gene transfer** (HGT) from a foreign species (donor)
    * GC/CG pairs are annealed by three hydrogen bonds vs TA/AT pairs by two. High GC% leads to higher annealing temperature

In [ ]:
spike_gene = "ATGTTTGTTTTTCTTGTTTTATTGCCACTAGTTTCTAGTCAGTGTGTTAATCTAACAACTAGAACTCAGTTACCTCCTGCATACACCAACTCATCCACCCGTGGTGTCTATTACCCTGACAAAGTTTTCAGATCTTCAGTTTTACATTTAACTCAGGATTTGTTTTTACCTTTCTTCTCCAATGTGACCTGGTTCCATGCTATACATGTTTCAGGGACCAATGGTATTAAAAGGTTTGATAACCCAGTTCTGCCATTCAACGATGGCGTCTATTTTGCTTCCACTGAGAAGTCTAATATAATAAGAGGATGGATTTTTGGTACTACCTTAGATTCGAAGACCCAGTCTCTACTTATTGTTAATAACGCTACTAATGTTGTTATTAAAGTCTGTGAATTTCAATTTTGTAATGATCCATTTTTGGGTGTTTATTACCACAAAAACAACAAAAGTTGGATGGAAAGTGAGTTCAGAGTTTACTCTAGTGCGAATAATTGCACTTTTGAGTATGTCTCTCAGCCTTTTCTTATGGACCTTGAAGGAAAACAGGGTAATTTCAAAAATCTTAGGGAATTCGTGTTTAAGAATATTGATGGTTATTTCAAAATATATTCTAAACATACGCCTATTAATTTAGTGCGTGATCTTCCCCCTGGTTTTTCAGCTTTAGAACCATTGGTAGATCTGCCAATAGGTATTAACATCACTAGGTTTCAAACTTTACTTGCTTTACATAGAAGCTATTTGACTCCTGGTGATTCTTCTTCAGGTTGGACAGCTGGTGCTGCAGCTTATTATGTGGGTTATCTTCAACCAAGGACTTTTCTACTAAAATATAATGAGAATGGAACCATTACAGATGCTGTAGACTGTGCACTTGACCCTCTTTCAGAAACAAAGTGTACGTTAAAATCCTTCACTGTTGAAAAAGGAATTTATCAAACCTCTAACTTTAGAGTCCAACCAACAGATTCTATTGTTAGATTCCCAAATATTACAAACTTATGTCCTTTTGGTGAAGTTTTTAACGCCACCACATTCGCATCAGTTTATGCTTGGAACAGAAAGAGAATTAGCAACTGTGTTGCTGATTACTCTGTCCTATATAATTCCACTTCATTTTCTACCTTTAAATGTTATGGAGTGTCTCCTACTAAATTAAATGATCTCTGCTTTACTAATGTTTATGCAGACTCATTTGTGATTACAGGTGATGAAGTCAGACAAATTGCGCCAGGACAAACTGGAAAGATTGCTGACTACAATTATAAACTACCAGATGATTTTACTGGTTGTGTTATAGCTTGGAATTCTAAGCATATTGATGCAAAAGAGGGCGGTAATTTTAACTATCTTTACCGTCTCTTTAGAAAAGCTAATCTTAAACCCTTTGAGAGGGATATCTCAACTGAAATTTACCAAGCAGGCAGCAAACCTTGTAATGGTCAAACTGGTCTAAATTGCTACTACCCACTTTATAGATATGGATTTTACCCTACTGATGGTGTTGGTCACCAACCTTATAGGGTAGTAGTACTTTCTTTTGAACTTCTAAATGCACCAGCAACTGTTTGTGGACCTAAGAAGTCTACTAACTTGGTTAAAAATAAATGTGTCAATTTC"
ct_C = spike_gene.count("C")
ct_A = spike_gene.count("A")
ct_G = spike_gene.count("G")
ct_T = spike_gene.count("T")
gc_content = (ct_C + ct_G) / (ct_C + ct_G + ct_A + ct_T)
print(len(spike_gene))
print(gc_content * 100)

1623
35.85951940850277

## 3.4 Data Structures

### Lists
An ordered collection of values (0-indexed)

In [ ]:
my_list_1 = [] # create an empty list
my_list = [ 3, 2.44, "green", True ] # a list of different data types (unlike numpy array/vector, of which members have to be of the same data type)
a = list("0123456789") # using the list() function
a

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [ ]:
my_list[0] = "blue" # use index to update a value
my_list

['blue', 2.44, 'green', True]

In [ ]:
my_list[0:1] # elements 0 to 1 (noninclusive at the left index, inclusive at the right index)

['blue']

In [ ]:
my_list[:3] # elements up to 3 (noninclusive)

['blue', 2.44, 'green']

In [ ]:
my_list[3:] # from the 4th elements to end

[True]

In [ ]:
my_list[-2] # 2nd from last

'green'

List functions

In [ ]:
my_list.append(25) # append to the end
my_list

['blue', 2.44, 'green', True, 25]

In [ ]:
list_copy = my_list.copy() # copy
list_copy

['blue', 2.44, 'green', True, 25]

In [ ]:
my_list.clear() # remove all elements
my_list

[]

In [ ]:
seq = list("TKAAVVNFT")
seq.count("V")

2

In [ ]:
seq.index("V")

4

In [ ]:
seq2 = seq.pop() # remove the last element; return the element
print(seq)
seq2

['T', 'K', 'A', 'A', 'V', 'V', 'N', 'F']

'T'

In [ ]:
a = [1, 5, 2, 42, 14, 132]
print(a)
a.sort() # sort (either numerically or alphabatically)
print(a)

[1, 5, 2, 42, 14, 132]
[1, 2, 5, 14, 42, 132]

In [ ]:
a.reverse()
print(a)

[132, 42, 14, 5, 2, 1]

In [ ]:
del(a[2:3]) # delete by index
a

[132, 42, 2, 1]

### <font color="green"> ***Exercise: Simulate a random DNA sequence*** </font>

* with a equal base frequencies
* with a SARS-CoV-2 genome, which contains 29,903 base pairs (bps)and a base composition of 29.94% of A, 18.37% of C, 19.61% of G, and 32.08% of T

In [ ]:
import random
bases = list("atcg")
genome_size = 1000
dna = random.choices(bases, k=genome_size) # sample with replacement
print("".join(dna))

ct_g = dna.count("g")
ct_c = dna.count("c")
print((ct_g + ct_c)*100/genome_size)

agcggcgtgcgcgggaacccctactttaagcgacccaggcgccgagtatccccggcgcttgagagggagaaatttaacctacgcacccttgcacctgcacgacttgtctccacttcacctccaagcgtgatattgttctcagcgtgatgcgcaaaccaatcaatagtgcccaagaggtcgttaatcgtcgcggaagcgagtatgctctaaaagtgatcggtgaagtgcaacgtgcgaatttacaattcgatggctcgtatgctactagacgtatgtcactgtacccgactaatgcctggagactcagatagttagacacattctcaaggggctgttagcatttagctcgcaattccatcatgtctatcccaggtgagatgatcaccaatcaaagcgaacaaaatctcacacgatataaacgtgtaattctttgcaagaagcaactaatgtgcattcggccagtaaggataacgagaggaaggaacctgggattggacgcgagtcgcattgcggaggctggagctaagaggcctcacctgtgtctcggggagtattaagttcaaatcatgggattgcaataccatggcatgtcttggagggtcgatcagtcaaaggtatttactgaaataggacagtggggccatcggatatcatagctgcgactatagattgtatccatttcaaaagatccccagggtttgagactctagccgacggtggtcctaatattccatcgccctcaatgctggcgcgtagaggcctggcgccagattgacgacagcgtgaattgcacttctgaatgccgctgacatcctgaagttaagcatcgtttcggtctctaaatattcatatgcaactcacggacatcagaggtcttctggacgatctcagctgggtactaccgaatcccaatcccttgaattaaaaaaacattagctggtcctggtaactgtaacttatagaatatacgtacgagaggggttggtgcattgtattgcaa
48.2

In [ ]:
dna_biased = random.choices(list("acgt"), k=genome_size, weights=[0.299, 0.184, 0.196, 0.321]) # sample with biased base frequencies
print("".join(dna_biased))

ct_g = dna_biased.count("g")
ct_c = dna_biased.count("c")
print((ct_g + ct_c)*100/genome_size)

tggagtgaatctcattcgatagagctatcgcctgctgcttgcacctctagtgaattaagacgacttgagcacagtgagttgatcaagtttaacagggactttttaatgatttttgcgtttgaaaattttccatccttgtcagtaatattcctgtttcctaactctaggattcattagtaaagttctgttctaagaaagagtattcctcaccattgaaatggctatgtgttgcgcattctcaacattagatcgttcatgcatttctaatactaaccagcgatactgaattttacgactgagttacgattgcgccagctactatatgtttgagttgaacacacttagaagatagatcgttatactggtgcgtctatcagaccactatgtcggggtgttatgaaagacatagaagagatcgtatgttaacactttaggcatatccatagattaaatgctttgggtttccttctgcctggaattaatttgatttttttgggtcagaattttaatcattcccgtttgcttttcccactgcgggaaagctcatgcacttgttccgaggcaaaccccaagtaaatgcacatcgaaggtcttacgtacgtgagattataaataaagggtgtgaagttaaagatcaatcgtagactatgtatgccagtcagaatggctaccatttgtaaaaattgtatagtgtgatgacggctggatttacagaataaatcttatactttctcatctgttacccttagtatgtaggctattctgatgtggaataccctactagccccgacaccgttttgcgattggatgtgggaattaaaaattgtcgttacagccgtatactaatgagactgatctttaggggacttactaaaaatccccctcaatgagcccaggtagggctcgttgagaacgtaataatgattttaaacgtttaacttagtgaagaggttattggtgtaacgtccctatttatacttttctcacgaaaacagctgcg
38.9

### Dictionaries
key-value pairs, indexed by strings (not by positions as in lists)

In [ ]:
my_dict = {} # empty dictionary
my_dict = {"a": "test", "b": 3.14, "c": [1,2,3,4]}
my_dict

{'a': 'test', 'b': 3.14, 'c': [1, 2, 3, 4]}

In [ ]:
# number of megabases:
genome_size = {"Homo sapiens": 3200.0,
              "Escherichia coli": 4.6,
              "Arabidopsis thaliana": 157.0}
genome_size

{'Homo sapiens': 3200.0,
 'Escherichia coli': 4.6,
 'Arabidopsis thaliana': 157.0}

In [ ]:
genome_size["Arabidopsis thaliana"]

157.0

In [ ]:
genome_size["Saccharomyces cerevisiae"] = 12.1
genome_size

{'Homo sapiens': 3200.0,
 'Escherichia coli': 4.6,
 'Arabidopsis thaliana': 157.0,
 'Saccharomyces cerevisiae': 12.1}

In [ ]:
GS = genome_size.copy() # make a copy
genome_size.clear() # remove all
GS.get("Mus musculus", -10) # get the value; return a default if not present
GS.keys()

dict_keys(['Homo sapiens', 'Escherichia coli', 'Arabidopsis thaliana', 'Saccharomyces cerevisiae'])

In [ ]:
GS.values()

dict_values([3200.0, 4.6, 157.0, 12.1])

In [ ]:
GS.pop("Homo sapiens") # return the removed key

3200.0

In [ ]:
GS

{'Escherichia coli': 4.6,
 'Arabidopsis thaliana': 157.0,
 'Saccharomyces cerevisiae': 12.1}

In [ ]:
D1 = {"a": 1, "b": 2, "c": 3}
D2 = {"a": 2, "d": 4, "e": 5}
D1.update(D2) # join two dictionarie
D1

{'a': 2, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

### Tuples
Immunatable (protected) lists; faster to access

In [ ]:
tt = (1,1,1,1,2,2,4)
print(tt.count(1))
print(tt.index(2)) # 1st index of a value

4
4

In [ ]:
D3 = {("trial", 62): 4829} # tuples as keys of a dictionary
D3

{('trial', 62): 4829}

### Sets
lists with No duplicated entries

In [ ]:
a = set([]) # initialize an empty set
type(a)
a

set()

In [ ]:
 a = [5, 6, 7, 7, 7, 8, 9, 9]
 b =  set(a)
 b # note the curly braces

{5, 6, 7, 8, 9}

In [ ]:
c = {3,4,5,6} # curly braces creates a set
print(b & c) # intersection
b.intersection(c) # same

{5, 6}

{5, 6}

In [ ]:
print(b | c) # union
b.union(c) # same

{3, 4, 5, 6, 7, 8, 9}

{3, 4, 5, 6, 7, 8, 9}

In [ ]:
print(b ^ c) # differences ( in b but not c, or in c but not in b)
print(b.symmetric_difference(c)) # same
print(b.difference(c)) # in b but not in c
print(c.difference(b)) # in c but not in b

{3, 4, 7, 8, 9}
{8, 9, 7}
{3, 4}
{3, 4, 7, 8, 9}

### Nested data structures

In [ ]:
one = (1, 2) # a tuple
two = [3, 4] # a list
three = {5: ["value1"], 6: ["value2"]} #  a dictionary, keys are numbers, values are lists

# a list of the above three
container = [one, two, three]
container

[(1, 2), [3, 4], {5: ['value1'], 6: ['value2']}]

In [ ]:
container[2][5].append("value3") # append a value to three[5]
container

[(1, 2), [3, 4], {5: ['value1', 'value3', 'value3'], 6: ['value2']}]

### <font color='green'>**Exercise: Intermezzo 3.2** </font>

1.   Define a list a = [1, 1, 2, 3, 5, 8].
1.   Extract [5, 8] in two different ways.
1.   Add the element 13 at the end of the list.
2.   Reverse the list.
2.   Define a dictionary m = {"a": ".-", "b": "-...-", "c": '-.-.'}.
1.   Add the element "d": "-..".
2.   Update the value "b": "-..."

## 3.5 Common functions

In [ ]:
max(1.2, 3.71, 1.15)

3.71

In [ ]:
max("scientific computing")

'u'

In [ ]:
min("scientific computing") # space has the lowest numerical value

' '

In [ ]:
sum(set([1,1,2,3,5,8]))

19

In [ ]:
# the "in" function test for membership
"s" in "string" # test if in a string

True

In [ ]:
 36 not in [1, 2, 36] # test if NOT in a list

False

In [ ]:
 (1, 2) in [(1, 3), (1, 2), 1000, 'aaa'] # test existence of a tuple in a list

In [ ]:
"z" in {"a": 1, "b": 2, "c": 3} # for a dictionary, test if a key exist

False

In [ ]:
"c" in {"a": 1, "b": 2, "c": 3}

True

## 3.6 Control Flow

### Conditional branching

In [ ]:
print(type(True)) # <class 'bool'>
easy = False
soft = True
print(easy,soft) # we can print multiple variables by separating each with a comma

<class 'bool'>
False True

What if we wanted to write a program that prints a greeting to the screen based on whether or not it is raining. We can do this via the if statement. The structure of an if statement is: \
```
if (expression that evaluates to a bool):
      # code to run if expression is True
else:
      # code to run if expression is False
```
Note the indentation after the colon. This is important as it lets Python know where the block of code belonging to each clause of the if statement is,

In [ ]:
is_raining = False
# isRaining = false # error
print(type(is_raining))
if is_raining:
  # this executes if isRaining evaluates to True
  message = "Hello! Remember to take an umbrella"
else:
  # this executes if isRaining evalueations to False
  message = "Hello. Have a nice day"

print(message)

<class 'bool'>
Hello. Have a nice day

We can also write an if statement with more than 2 branches

In [ ]:
is_not_raining = False
has_umbrella = True

if is_not_raining:
  # this executes if isNotRaining evaluates to True
  message = "Hello! Have a nice day"
# if it is raining (isNotRaining is False), check if I have an umbrella
elif has_umbrella:
  # this executes if isRaining evalueations to False
  message = "Remember to take your umbrella"
# if it is raining and I do not have an umbrella
else:
  message = "Try not to get wet!"

print(message)

Remember to take your umbrella

We can also omit the else clause all together if we dont want to do anything if the expression is False

In [ ]:
hasUmbrella = False

if hasUmbrella:
  print("cool umbrella") # does not print

In [ ]:
age = 16
if age < 13:
  print("Child")
elif (age >= 13) and (age < 20):
  print("Teenager")
else:
  print("Adult")

Teenager

#### <font color="green"> ***Exercise: Leap year*** </font>

A leap year is a year that is exactly divisible by 4 except for century years (years ending with 00 and are divisible by 100). The century year is a leap year only if it is perfectly divisible by 400. Using if-statements, write code to determine if a given year is a leap year. Your code should print "Leap year" or "Not a leap year" depending on the input. Hint: Use the modulo operator (%)

In [ ]:
# Hint

# if ((year is divisible by 4) and (year is not divisible by 100)) or (year is divisible by 400)

In [ ]:
# try different years
year = 2000
if ((year % 4 == 0) and (year % 100 != 0)) or (year % 400 == 0):
  print(year, "is a leap year")
else:
  print(year, "is not a leap year")

# your code here ...

2000 is a leap year

### Looping
Now we know how to conditionally execute code. What if we wanted to execute a piece of code over and over again?

In [ ]:
for number in range(5): # number is 0 to 4 (a total of 5 times)
  print(number, ": Hi, Mom!")

0 : Hi, Mom!
1 : Hi, Mom!
2 : Hi, Mom!
3 : Hi, Mom!
4 : Hi, Mom!

In [ ]:
for i in range(1,11): # i will be 1 to 10
  if i == 10:
    print("Blastoff?")
  else:
    print(i)

1
2
3
4
5
6
7
8
9
Blastoff?

In [ ]:
for i in range(1,11,2): # 1 to 10, increment by 2
  print(i)

1
3
5
7
9

#### <font color="green"> ***Exercise: range() function***  </font>

The range function also accepts a third argument, `step`, that specifies the difference between consecutive values. By default this value is 1.

In [ ]:
for i in range(1,11,2): # add 2 each time instead of 1
  if i == 10:
    print("Blastoff?")
  else:
    print(i)

Edit the above example so that it counts down instead of counting up. Hint: the step parameter can be negative

In [ ]:
# your code here ...

In [ ]:
# loop through a list
z = [1, 5, "mystring", True]
for x in z:
  print(x)

1
5
mystring
True

In [ ]:
# loop through chars of a string
my_string = "a given string"
for character in my_string:
  print(character)

a

g
i
v
e
n

s
t
r
i
n
g

In [ ]:
# loop through a dictionary
z = {0: "a", 1: "b", 2: "c"}
print(z.items())
for (key, val) in z.items(): # use tuple to access key:value pairs
  print(key, "->", val)

dict_items([(0, 'a'), (1, 'b'), (2, 'c')])
0 -> a
1 -> b
2 -> c

In [ ]:
# use enumerate to access both the index and the element
student_grades = [ 94, 88, 85, 97, 77, 92, 89, 78, 85 ]
for index, grade in enumerate(student_grades):
    print("Student", index + 1, "got", grade) # index + 1 because indexes start at 0 in Python

Student 1 got 94
Student 2 got 88
Student 3 got 85
Student 4 got 97
Student 5 got 77
Student 6 got 92
Student 7 got 89
Student 8 got 78
Student 9 got 85

In [ ]:
# list comprehension (concise syntax to loop through a list)
a = [1, 2, 5, 14, 42, 132]
print(a)
b = [x ** 2 for x in a] # operation for each element (x) in a list
print(b)
c = [x **2 for x in a if x %2 != 0] # square only if odd
print(c)

[1, 2, 5, 14, 42, 132]
[1, 4, 25, 196, 1764, 17424]
[1, 25]

### <font color="green"> ***Exercise: Intermezzo 3.3*** </font>

Determine how many times "hello" will be printed in the following small programs. Answer before run the code

In [ ]:
# Q1
'''
for i in range(3,17):
  print("hello")

In [ ]:
# Q2
'''
for j in range(12):
  if j % 3 == 0:
    print("hello")

In [ ]:
# Q3
'''
for j in range(15):
  if j % 5 == 3:
    print("hello")
  elif j % 4 == 3:
    print("hello")

In [ ]:
# Q4
'''
z = 0
while z != 15:
  print("hello")
  z = z + 3

In [ ]:
# Q5
'''
z = 12
while z < 100:
  if z == 31:
    for k in range(7):
      print("hello")
  elif z == 18:
    print("hello")
  z = z + 1

In [ ]:
# Q6
'''
for i in range(10):
  if i > 5:
    break
  print("hello")

In [ ]:
# Q7
# print if even
z = 0
while z < 25:
  z=z+1
  if z % 2 == 1:
    continue # skip, don't print
  print(z, "hello")

2 hello
4 hello
6 hello
8 hello
10 hello
12 hello
14 hello
16 hello
18 hello
20 hello
22 hello
24 hello

## 3.7 Reading and writing files

In [ ]:
# clone the course github to your google drive (run only once!!)
# !git clone https://github.com/weigangq/CSB-BIOL425.git

Cloning into 'CSB-BIOL425'...
remote: Enumerating objects: 1066, done.
remote: Counting objects: 100% (61/61), done.
remote: Compressing objects: 100% (45/45), done.
remote: Total 1066 (delta 29), reused 39 (delta 13), pack-reused 1005
Receiving objects: 100% (1066/1066), 28.33 MiB | 22.52 MiB/s, done.
Resolving deltas: 100% (418/418), done.

In [ ]:
# use !command to run Unix commands
!pwd
!ls -lrt
!ls -lrt CSB-BIOL425/python/data/

/content
total 8
drwxr-xr-x  1 root root 4096 Feb 13 14:35 sample_data
drwxr-xr-x 14 root root 4096 Feb 15 17:20 CSB-BIOL425
total 1432
-rw-r--r-- 1 root root     963 Feb 15 17:20 Dalziel2016_about.txt
-rw-r--r-- 1 root root    1475 Feb 15 17:20 Singh2015_data.csv
-rw-r--r-- 1 root root     491 Feb 15 17:20 Singh2015_about.txt
-rw-r--r-- 1 root root 1450450 Feb 15 17:20 Dalziel2016_data.csv

In [ ]:
input_file = "CSB-BIOL425/python/data/Singh2015_data.csv"
with open(input_file, "r") as f: # f is a file handle
  # do some operations, like printing every line
  lines_limit = 10
  line_ct = 0
  for my_line in f:
    line_ct += 1
    if line_ct < 10:
      print(my_line.strip()); # strip spaces and newline

Line,InfectionStatus,RecombinantFraction
21,I,0.1826923077
21,I,0.1850393701
21,I,0.1856540084
21,I,0.1866666667
21,I,0.1904761905
21,I,0.1958762887
21,I,0.2180094787
21,I,0.2534246575

In [ ]:
# change working directory
%cd CSB-BIOL425/python/sandbox/

/content/CSB-BIOL425/python/sandbox

In [ ]:
# run pwd to confirm the working directory & show files
!pwd
!ls -lrt ../data/

/content/CSB-BIOL425/python/sandbox
total 1432
-rw-r--r-- 1 root root     963 Feb 15 17:20 Dalziel2016_about.txt
-rw-r--r-- 1 root root    1475 Feb 15 17:20 Singh2015_data.csv
-rw-r--r-- 1 root root     491 Feb 15 17:20 Singh2015_about.txt
-rw-r--r-- 1 root root 1450450 Feb 15 17:20 Dalziel2016_data.csv

In [ ]:
# read tabular files
input_file = "../data/Dalziel2016_data.csv"
with open(input_file) as f:
  # create iterator
  for i, line in enumerate(f):
    # print each line; delete leading/trailing spaces
    print(line.strip())
    if i > 2: # stop at i = 3 (print top lines)
      break

biweek,year,loc,cases,pop
1,1906,BALTIMORE,NA,526822.1365
2,1906,BALTIMORE,NA,526995.246
3,1906,BALTIMORE,NA,527170.1981

In [ ]:
# use the csv module
import csv
input_file = "../data/Dalziel2016_data.csv"
with open(input_file) as f:
  reader = csv.DictReader(f) # read each line as an anynonymous dictionary, column headings as keys
  for i, row in enumerate(reader):
    print(i, row)
    if i > 2:
      break

0 {'biweek': '1', 'year': '1906', 'loc': 'BALTIMORE', 'cases': 'NA', 'pop': '526822.1365'}
1 {'biweek': '2', 'year': '1906', 'loc': 'BALTIMORE', 'cases': 'NA', 'pop': '526995.246'}
2 {'biweek': '3', 'year': '1906', 'loc': 'BALTIMORE', 'cases': 'NA', 'pop': '527170.1981'}
3 {'biweek': '4', 'year': '1906', 'loc': 'BALTIMORE', 'cases': 'NA', 'pop': '527347.0136'}

In [ ]:
out_file = "Dalziel2016_Washington.csv" #  create a file to write into
with open(input_file) as fr:
  reader = csv.DictReader(fr) #  create a reader, read each line as a dictionary
  header = reader.fieldnames # extract header
  with open(out_file, "w") as fw: #  open a file handler to write
    writer = csv.DictWriter(fw, fieldnames = header, delimiter = ",") # create a writer, write each dictionary into a row
    for row in reader:
      if row["loc"] == "WASHINGTON":
        writer.writerow(row)

In [ ]:
!ls -lrt
!head Dalziel2016_Washington.csv
!wc Dalziel2016_Washington.csv

total 40
-rw-r--r-- 1 root root 38450 Feb 15 17:37 Dalziel2016_Washington.csv
1,1906,WASHINGTON,NA,302312.9457
2,1906,WASHINGTON,NA,302519.0169
3,1906,WASHINGTON,NA,302726.1932
4,1906,WASHINGTON,NA,302934.4823
5,1906,WASHINGTON,NA,303143.8918
6,1906,WASHINGTON,NA,303354.4296
7,1906,WASHINGTON,NA,303566.1032
8,1906,WASHINGTON,NA,303778.9205
9,1906,WASHINGTON,NA,303992.8891
10,1906,WASHINGTON,NA,304208.0168
 1118  1118 38450 Dalziel2016_Washington.csv

### <font color="green"> ***Exercise: Intermezzo 3.4*** </font>

Write code that prints the loc and pop for all the rows in the file Dalziel
2016_data.csv.